# Скомпилированные в байтах / оптимизированные / DLL файлы
__пикеш__/
*.py[треска]
*$py.class

# Расширения C
*.so

# Дистрибуция / упаковка
.
Сборка на Python/
развиваются-яйца/
дист/
Загрузки/
яйца/
.яйца/
библиотека/
lib64/
части/
сдист/
var/
колеса/
pip-колесо-метаданные/
поделиться /python-колеса/
*.egg-информация/
.installed.cfg
*.яйцо
МАНИФЕСТ

# PyInstaller # PyInstaller
# Обычно эти файлы записываются скриптом python из шаблона
# перед тем, как PyInstaller соберет exe-файл, чтобы ввести в него дату / другую информацию.
*.манифест
*.спецификация

# Журналы установщика
pip-log.txt
pip-delete-this-directory.txt

# Модульный тест / отчеты о покрытии
htmlcov/
.токсин/
.nox/
.охват
.охват.*
.кэш
nosetests.xml
coverage.xml
*.обложка
*.py,обложка
.гипотеза/
.pytest_cache/

# Переводы
*.мо
*.горшок

# Джанго - штука:
*.журнал
регистрации
local_settings.py db.sqlite3
db.sqlite3-журнал

# Материал для колбы:
экземпляр/
.webassets-кэш

# Шершавый материал:
.шершавый

# Документация по Сфинксу
docs/_build/

#
Цель PyBuilder/

# Записная книжка Jupyter
.ipynb_checkpoints

# IPython
profile_default профиль по умолчанию/
ipython_config.py

# pyenv
.python-версия

# pipenv
# Согласно pypa / pipenv#598, рекомендуется включить Pipfile.заблокируйте систему управления версиями.
# Однако, в случае совместной работы, если у вас есть зависимости от платформы или зависимости
# не имея кросс-платформенной поддержки, pipenv может устанавливать зависимости, которые не работают или нет
# установите все необходимые зависимости.
#Pipfile.замок

# PEP 582; используется, например, github.com/David-OConnor/pyflow
__пакеты__/

# Начинка
из сельдерея celerybeat-расписание
celerybeat.pid

# SageMath проанализировал файлы
*.sage.py

# Environments
.env
.venv
env/
венв/
ENV/
env.bak/
венв.бак/

# Настройки проекта Spyder
.spyderproject
.spyproject

# Настройки проекта веревки
.ropeproject

# документация
mkdocs /сайт

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Проверка типа погребального
костра .погребальный костер/
